[data-carrier-slug="aig"] {
    background-image: url(../images/logos/carriers/aig.png);
}

[data-carrier-slug*="allianz"] {
    background-image: url(../images/logos/carriers/allianz.png);
}

[data-carrier-slug*="american-equity"] {
    background-image: url(../images/logos/carriers/american-equity.png);
}

[data-carrier-slug*="american-national"] {
    background-image: url(../images/logos/carriers/american-national.png);
}

[data-carrier-slug*="athene"] {
    background-image: url(../images/logos/carriers/athene.png);
}

[data-carrier-slug*="delaware-life"] {
    background-image: url(../images/logos/carriers/delaware-life.png);
}

[data-carrier-slug="fidelity-and-guaranty"] {
    background-image: url(../images/logos/carriers/f-and-g.png);
}

[data-carrier-slug*="global-atlantic"] {
    background-image: url(../images/logos/carriers/global-atlantic.png);
}

[data-carrier-slug*="massmutual-ascend"] {
    background-image: url(../images/logos/carriers/massmutual-ascend.png);
}

[data-carrier-slug*="midland-national"] {
    background-image: url(../images/logos/carriers/midland-national.png);
}

[data-carrier-slug*="north-american"] {
    background-image: url(../images/logos/carriers/north-american.png);
}

[data-carrier-slug*="protective"] {
    background-image: url(../images/logos/carriers/protective.png);
}

[data-carrier-slug*="reliance-standard"] {
    background-image: url(../images/logos/carriers/reliance-standard.png);
}

[data-carrier-slug*="securian"] {
    background-image: url(../images/logos/carriers/securian.png);
}

[data-carrier-slug="the-standard"] {
    background-image: url(../images/logos/carriers/the-standard.png);
}
