.income-solver {
    .income-solver__fetch-button {
        @extend .form__action;

        margin-bottom: 1.5rem !important;
        font-size: 1.375rem !important;
        line-height: 1.375rem !important;
        background-color: $brand-quaternary !important;
        color: #fff !important;
        border: none !important;
        transition: background-color 0.125s ease-out, color 0.125s ease-out !important;
        pointer-events: all !important;
        position: relative !important;
        z-index: 10 !important;
        box-shadow: 0 0 10px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 1);
        animation: 2s fetch-button infinite;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($brand-quaternary, 15%) !important;
            color: #fff !important;
        }

        i {
            position: relative;
            top: -1px;
            padding-left: 0.5rem;
        }
    }

    @keyframes fetch-button {
        0% { box-shadow: 0 0 0 rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 1) }
        15% { box-shadow: 0 0 10px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 1) }
        35% { box-shadow: 0 0 20px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 0.75) }
        50% { box-shadow: 0 0 30px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 0.65) }
        65% { box-shadow: 0 0 35px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 0.5) }
        85% { box-shadow: 0 0 35px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 0.35) }
        100% { box-shadow: 0 0 35px rgba(red($brand-quaternary), green($brand-quaternary), blue($brand-quaternary), 0) }
    }

    .form__row {
        padding-bottom: 1.25rem;

        .form__column {
            width: 100%;

            & > label {
                font-size: 0.9375rem;
                line-height: 0.9375rem;
                letter-spacing: -0.5px;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="number"],
            input[type="date"],
            select,
            textarea {
                max-width: 100%;
                width: 100%;
                padding: 0.75rem 0.5rem 0.25rem 0.5rem;
                border: 1px $color-grey-mid solid;

                &.money {
                    font-size: 1.75rem;
                    line-height: 1.75rem;
                    font-family: 'Ofelia Display', 'ofelia-display', sans-serif;
                    font-weight: bold;
                    letter-spacing: -1px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
    }

    &__parameters,
    &__compare {
        &-toggler {
            position: absolute;
            top: 1.5rem;
            left: 0;
            width: 52px;
            height: 52px;
            display: flex;
            background-color: $color-grey-mid;
            z-index: 100;
            margin-top: 1px;
            font-family: 'Font Awesome 6 Pro', sans-serif;
            font-size: 2rem;
            line-height: 1rem;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
        }
    }

    &__compare {
        &-toggler {
            background-color: $brand-secondary;
            transform: translateY(100%);
            margin-top: 0.5rem;
        }
    }

    &__parameters {
        padding: 0;
        width: 100%;
        height: auto;
        max-width: none;
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 2rem;

        &-toggle {
            display: none;

            &:checked {
                + .income-solver__parameters-toggler {
                    + .income-solver__parameters {
                        width: 0;
                        position: relative;
                        overflow: hidden;
                    }
                }
            }
        }

        &-toggler {
            background-color: $brand-quaternary;
        }

        & > fieldset {
            position: relative !important;
            padding: 0 1.375rem !important;
            margin: 0 0.25rem !important;
            border-color: transparent !important;

            & > legend {
                i {
                    font-size: 2rem;
                    line-height: 2rem;
                    position: relative;
                    margin-top: -8px;
                    top: 3px;
                    padding-right: 0.25rem;
                }
            }

            & > input[type="checkbox"] {
                &:checked {
                    ~ label {
                        &:before {
                            content: 'Close';
                        }

                        &:after {
                            content: '\f357';
                        }

                        ~ div[class*="__content"] {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                        }
                    }
                }

                + label {
                    position: absolute;
                    top: -1rem;
                    right: 1.375rem;
                    transform: translateY(-50%);
                    padding: 0.25rem 0.5rem;
                    background-color: $brand-quaternary;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 300;

                    &:before {
                        content: 'Open';
                    }

                    &:after {
                        position: relative;
                        display: inline-block;
                        content: '\f354';
                        font-family: 'Font Awesome 6 Pro', sans-serif;
                        padding-left: 0.375rem;
                        font-weight: bold;
                    }
                }
            }

            &[data-filter-type="income"],
            &[data-filter-type="client"],
            &[data-filter-type="filtering"] {
                & > [class*="__content"] {
                    position: absolute;
                    z-index: 200;
                    width: calc(100% - (1.375rem * 2));
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    padding: 1rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: opacity 0.25s cubic-bezier(.95,.05,.8,.04), visibility 0.25s cubic-bezier(.95,.05,.8,.04);
                }
            }

            &[data-filter-type="income"] {
                display: flex;
                width: 25%;
                min-width: 25%;

                .income__content {
                    flex-direction: row;

                    .form__row {
                        margin-right: 0.5rem;

                        &:last-child,
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }

            &[data-filter-type="client"] {
                width: 25%;
                min-width: 25%;

                .form__row {
                    &:last-child,
                    &:last-of-type {
                        padding-bottom: 0;
                    }

                    fieldset {
                        margin: 0;

                        legend {
                            font-weight: bold;
                            letter-spacing: -1px;
                            font-size: 1.25rem;
                            line-height: 1.25rem;
                        }
                    }

                    .form__column {
                        &:last-child,
                        &:last-of-type {
                            padding-right: 0;
                        }

                        label {
                            display: flex;
                            flex-direction: column;
                            margin: 0;
                            padding: 0 1rem 0 0;
                        }
                    }
                }
            }

            &[data-filter-type="filtering"] {
                width: 100%;
            }
        }
    }

    &__results {
        width: 100%;
        min-width: 0;
        padding: 0;
        transition: padding 0.25s cubic-bezier(.95,.05,.8,.04);

        &-controls {
            position: sticky;
            width: 100%;
            left: 0;
            top: 175px;
            z-index: 10;
            background-color: $brand-quinary;
            padding: 1.5rem 0 1rem 0;
            border-top: 1px #000 solid;
            border-bottom: 1px #000 solid;
            margin-bottom: 2rem;

            .form__row {
                .form__column {
                    & > label[for="deferral"] {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        border-bottom: none;
                        margin: 0;

                        strong {
                            background-color: orange;
                            color: #fff;
                            padding: 0.5rem 0.5rem 0.5rem 0.375rem;
                        }
                    }

                    input[type="range"] {
                        margin: 0;
                    }
                }
            }
        }
    }
}