.income-solver {
    .form__row {
        padding-bottom: 1.25rem;

        .form__column {
            width: 100%;

            & > label {
                font-size: 0.9375rem;
                line-height: 0.9375rem;
                letter-spacing: -0.5px;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="number"],
            input[type="date"],
            select,
            textarea {
                max-width: 100%;
                width: 100%;
                padding: 0.75rem 0.5rem 0.25rem 0.5rem;
                border: 1px $color-grey-mid solid;

                &.money {
                    font-size: 1.75rem;
                    line-height: 1.75rem;
                    font-family: 'Ofelia Display', 'ofelia-display', sans-serif;
                    font-weight: bold;
                    letter-spacing: -1px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }

    &__parameters,
    &__compare {
        &-toggler {
            position: absolute;
            top: 1.5rem;
            left: 0;
            width: 52px;
            height: 52px;
            display: flex;
            background-color: $color-grey-mid;
            z-index: 100;
            margin-top: 1px;
            font-family: 'Font Awesome 6 Pro', sans-serif;
            font-size: 2rem;
            line-height: 1rem;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
        }
    }

    &__compare {
        &-toggler {
            background-color: $brand-secondary;
            transform: translateY(100%);
            margin-top: 0.5rem;
        }
    }

    &__parameters {
        padding-left: 52px;
        width: calc(15% + 52px);
        max-width: calc(15% + 52px);

        &-toggle {
            display: none;

            &:checked {
                + .income-solver__parameters-toggler {
                    + .income-solver__parameters {
                        width: 0;
                        position: relative;
                        overflow: hidden;
                    }
                }
            }
        }

        &-toggler {
            background-color: $brand-quaternary;
        }
    }

    &__results {
        width: 100%;
        min-width: 0;
        padding: 0 2rem;
        transition: padding 0.25s ease-out;

        &-controls {
            position: sticky;
            width: 100%;
            left: 0;
            top: 175px;
            z-index: 10;
            background-color: $brand-quinary;
            padding: 1.5rem 0 1rem 0;
            border-top: 1px #000 solid;
            border-bottom: 1px #000 solid;
            margin-bottom: 2rem;

            .form__row {
                .form__column {
                    & > label[for="deferral"] {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        border-bottom: none;
                        margin: 0;

                        strong {
                            background-color: orange;
                            color: #fff;
                            padding: 0.5rem 0.5rem 0.5rem 0.375rem;
                        }
                    }

                    input[type="range"] {
                        margin: 0;
                    }
                }
            }
        }
    }
}