.benefit {
  margin: 0 0 1rem 0;

  &__toggle {
    &:checked {
      + .benefit__header {
        .benefit__controls {
          i {
            &[data-type="collapse"] {
              display: block;
            }

            &[data-type="expand"] {
              display: none;
            }
          }
        }

        + .benefit__details {
          display: flex;
        }
      }
    }
  }

  &__header {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -1px;
    border-bottom: 1px #000 dotted;
    background-color: $brand-tertiary;
    color: #fff;
    padding: 0;
    margin: 0 0 1rem -1rem;

    label {
      padding: 0.5rem 5rem 0.25rem 1rem;
      display: block;
      position: relative;
    }
  }

  &__controls {
    position: absolute;
    width: 4rem;
    top: 0;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;

    i[data-type="collapse"] {
      display: none;
    }
  }

  &__details {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;

    &-group {
      padding: 0 1rem 0 0;
      border: none;
      position: relative;
      margin: 0 1rem 1rem 0;

      legend {
        display: block;
        margin: 0;
        padding: 0 0 0.5rem 0;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: -0.5px;
      }

      &-items {
        margin: 0;
        padding: 0 0 0 0.5rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-left: 5px $brand-primary solid;

        &[data-group-label] {
          &:before {
            content: attr(data-group-label);
            display: block;
            min-width: 25%;
            width: 100%;
            font-weight: 600;
            letter-spacing: -0.5px;
            margin: 0 0 0.5rem 0;
            font-size: 0.9375rem;
            line-height: 0.9375rem;
            border-bottom: 1px #000 dotted;
            opacity: 0.75;
          }
        }
      }

      &-item {
        display: block;
        list-style: none;
        margin: 0 0.75rem 0.75rem 0;
        padding: 0;

        &:before {
          display: block;
          content: attr(data-item-label);
          white-space: nowrap;
          border-bottom: 1px #000 dotted;
          font-size: 0.875rem;
          line-height: 0.875rem;
          margin: 0 0 0.375rem;
          font-weight: 500;
          letter-spacing: -0.5px;
        }

        &-rating {
          font-size: 2rem;
          line-height: 2rem;
          display: block;
          font-weight: bold;
          letter-spacing: -1.5px;
        }

        &-date {
          font-size: 0.75rem;
          line-height: 0.75rem;
          opacity: 0.75;
        }
      }
    }
  }
}
