.infobox {
  & > h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -1px;
    background-color: $brand-secondary;
    color: #fff;
    padding: 0.5rem 1rem 0.25rem 1rem;
    margin: 0 0 1rem 0;
  }
}