.illustration {
  &__details {
    &-table {
      border-collapse: collapse;
      width: 100%;
      border: 1px #000 dotted;

      thead,
      tfoot {
        background-color: $brand-primary;

        tr {
          th {
            border-right: 1px #000 dotted;
            padding: 0.5rem 0.75rem;
            font-size: 0.875rem;
            line-height: 0.875rem;
            font-weight: 300;
            text-align: left;
            color: #fff;

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      tbody {
        tr {
          background-color: $color-grey-bright;

          &:nth-child(even) {
            background-color: #fff;
          }

          &.has-income {
            td {
              &.income {
                color: #fff;
                background-color: $color-money;
                border-color: #fff;
                font-weight: bold;
              }
            }
          }

          td {
            padding: 0.75rem 0.75rem;
            font-size: 0.875rem;
            vertical-align: middle;
            border-right: 1px #000 dotted;
            border-bottom: 1px #000 dotted;

            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }
}
