.analyzer__results {
  width: 100%;
}
.analyzer__result table {
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}
.analyzer__result table thead tr th {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  padding-top: 0.5rem;
}
.analyzer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.analyzer__filtering {
  padding: 0 2rem 0 0;
  margin: 0 2rem 0 0;
  white-space: nowrap;
  border-right: 1px #000 solid;
  min-width: 350px;
}
.analyzer__filtering h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.analyzer__result table thead tr th.heading {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: normal;
  background-color: $brand-primary;
  color: #fff;
  padding-top: 0.25rem;
}
.analyzer__result table tbody tr td {
  background-color: #fff;
  border: 1px #000 solid;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem 1rem 0 1rem;
}
.analyzer__result table tbody tr td:first-child {
  text-align: left;
  width: 100%;
}
.analyzer__result table tbody tr td.percentage {
  min-width: 200px;
  padding-top: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;

  &.percentage--gain {
    color: $color-money;
  }

  &.percentage--loss {
    color: $brand-tertiary;
  }
}
.analyzer__result table tbody tr td h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
}
.analyzer__result table tbody tr td h4 span {
  display: block;
  font-weight: bold;
}
.analyzer__result-configuration {
  font-size: 1.125rem;
  line-height: 1.125rem;
  display: flex;
  flex-direction: row;
  padding: 0 0 0.75rem 0;
}
.analyzer__result-configuration span {
  display: block;
  margin: 0 0.75rem 0 0;
}
.analyzer__result table tbody tr td:nth-child(2n) {
}
.analyzer__result table tbody tr:nth-child(2n) td {
  background-color: #f0f0f0;
}
.analyzer__result h3 strong {
  display: block;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0 0 -0.5rem 0;
}
.analyzer__result h3 span {
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
}
.analyzer__result {
  margin-bottom: 2rem;
}
.analyzer__result table thead tr th.reporting {
  text-align: left;
}
.analyzer__result table thead tr th.reporting a {
  text-decoration: none;
  color: $brand-tertiary;
}
.analyzer__result table thead tr th.reporting a i {
  padding-right: 0.25rem;
}

.analyzer__filtering-button {
  @extend .form__action;

  margin-bottom: 1rem;
  font-size: 1.375rem;
  line-height: 1.375rem;
  background-color: $brand-tertiary;
  color: #fff;
  border: none;
  transition: background-color 0.125s ease-out, color 0.125s ease-out;
  pointer-events: all;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 10px rgba(red($brand-tertiary), green($brand-tertiary), blue($brand-tertiary), 1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($brand-tertiary, 15%) !important;
    color: #fff !important;
  }

  i {
    position: relative;
    top: -3px;
    padding-left: 0.5rem;
  }
}

.analyzer__result:before {
  content: '';
  width: 150px;
  height: 80px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:     auto 60px;
  border: 1px #000 solid;
}
.analyzer__result {
  position: relative;
}
.analyzer__result h3 {
  margin-left: calc(150px + 1rem);
  padding-top: 0.25rem;
}
