* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ofelia Display', 'ofelia-display', sans-serif;
    font-weight: normal;
}

main#alpha {
    width: 100%;
    min-height: 100vh;
    height: auto;
}
