.report__disclaimers {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(140px + 2rem);
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: flex-end;
    border-top: 1px #000 dashed;

    p {
        font-size: 0.9375rem;
        line-height: 1.25rem;
        opacity: 0.5;
        margin: 0;
        padding: 0;
    }
}