/**
 * Login-form specific styles
 */
.alpha__fields {
    margin:  0;
    padding: 0;

    &-field {
        position: relative;
        display:  block;
        margin:   1.5rem 0;
        padding:  0;

        label {
            font-size:      0.75rem;
            line-height:    0.875rem;
            position:       absolute;
            top:            0;
            left:           0;
            display:        block;
            transform:      translateY(-50%);
            letter-spacing: 1px;
            text-transform: uppercase;

            strong {
                font-weight: 400;
            }
        }

        input[type='text'],
        input[type='email'],
        input[type='password'],
        input[type='number'],
        input[type='date'],
        select,
        textarea {
            font-family:   'Calibre', sans-serif;
            font-size:     1rem;
            line-height:   1rem;
            width:         100%;
            padding:       0.875rem 0 0.5rem 0;
            border:        none;
            border-bottom: 2px #000 solid;
            outline:       none;
        }

        &--buttons {
            position:   relative;
            margin:     2rem -2rem 0 0;
            padding:    0;
            text-align: left;
        }

        &--boxes {
            display:        flex;
            align-items:    center;
            flex-direction: row;
            flex-wrap:      nowrap;

            label {
                font-size:      0.875rem;
                line-height:    0.875rem;
                position:       relative;
                top:            2px;
                padding:        0 0 0 0.5rem;
                transform:      none;
                letter-spacing: normal;
                text-transform: none;
            }

            input[type='checkbox'],
            input[type='radio'] {
                margin: 0;
            }
        }

        .validation {
            font-size:        0.875rem;
            line-height:      0.875rem;
            position:         relative;
            display:          block;
            padding:          0.5rem 0.5rem 0.625rem 2rem;
            color:            #fff;
            background-color: #000;

            &:before {
                font-family:     'Font Awesome 6 Pro', sans-serif;
                font-size:       1rem;
                font-weight:     bold;
                line-height:     1rem;
                position:        absolute;
                top:             -1px;
                left:            1px;
                display:         flex;
                align-items:     center;
                justify-content: center;
                width:           2rem;
                height:          100%;
                content:         '\f071';
                color:           $brand-quaternary;
            }

            strong {
                font-weight:    400;
                letter-spacing: normal;
            }
        }
    }

    & > footer {
        position:         relative;
        display:          flex;
        flex-direction:   row;
        flex-wrap:        nowrap;
        margin:           0 -2rem -2rem -2rem;
        padding:          1.125rem calc(2rem - 0.5rem) 1.25rem;
        background-color: $brand-secondary;
    }
}

