.report__disclaimers {
    position:        absolute;
    bottom:          0;
    left:            0;
    display:         flex;
    justify-content: flex-end;
    height:          calc(140px + 2rem);
    padding:         2rem 2rem 0 2rem;
    border-top:      1px #000 dashed;

    p {
        font-size:   0.875rem;
        line-height: 1.125rem;
        margin:      0;
        padding:     0;
        opacity:     0.5;
    }
}