.table-default {
    width:           100%;
    border-collapse: collapse;
    border:          1px #000 dotted;

    thead,
    tfoot {
        background-color: $brand-primary;

        tr {
            th {
                font-size:    0.875rem;
                font-weight:  bold;
                line-height:  0.875rem;
                padding:      0.5rem 0.75rem;
                text-align:   left;
                color:        #fff;
                border-right: 1px #000 dotted;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    tbody {
        tr {
            background-color: $color-grey-bright;

            &:nth-child(even) {
                background-color: #fff;
            }

            &.has-income {
                color:            #fff;
                border-color:     #fff;
                background-color: $color-money;

                td {
                    &.income {
                        font-weight: bold;
                    }
                }
            }

            td {
                font-size:      0.9375rem;
                padding:        0.75rem 0.75rem;
                vertical-align: middle;
                border-right:   1px #000 dotted;
                border-bottom:  1px #000 dotted;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
