.badge {
    font-size:        0.9375rem;
    font-weight:      bold;
    line-height:      0.9375rem;
    display:          inline-block;
    margin:           0 0.25rem 0 0;
    padding:          0.5rem 0.5rem 0.25rem 0.5rem;
    text-transform:   uppercase;
    color:            #fff;
    border-radius:    5px;
    background-color: $brand-secondary;

    &--primary {
        color:            #fff;
        background-color: $brand-primary;
    }

    &--tertiary {
        color:            #fff;
        background-color: $brand-tertiary;
    }

    &--quaternary {
        color:            #fff;
        background-color: $brand-quaternary;
    }
}