.btn {
    &.btn-primary {
        width: auto;
        border: none;
        background-color: $brand-primary;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Calibre', sans-serif;
        border-radius: 6px;
        font-size: 1.25rem;
        line-height: 1.25rem;
        letter-spacing: -1px;
        font-weight: bold;
        padding: 0.75rem 2rem 0.675rem 2rem;
    }

    &.btn-link {
        margin: 0 0.5rem;
    }
}