.btn {
    &.btn-primary {
        font-family:      'Calibre', sans-serif;
        font-size:        1.25rem;
        font-weight:      bold;
        line-height:      1.25rem;
        width:            auto;
        padding:          0.75rem 2rem 0.675rem 2rem;
        cursor:           pointer;
        text-decoration:  none;
        letter-spacing:   -1px;
        color:            #fff;
        border:           none;
        border-radius:    6px;
        background-color: $brand-primary;
    }

    &.btn-link {
        margin: 0 0.5rem;
    }
}