[data-carrier-slug='aig'] {
    &:before {
        background-image: url(../images/logos/carriers/aig.png);
    }
}

[data-carrier-slug*='allianz'] {
    &:before {
        background-image: url(../images/logos/carriers/allianz.png);
    }
}

[data-carrier-slug*='american-equity'] {
    &:before {
        background-image: url(../images/logos/carriers/american-equity.png);
    }
}

[data-carrier-slug*='american-national'] {
    &:before {
        background-image: url(../images/logos/carriers/american-national.png);
    }
}

[data-carrier-slug*='athene'] {
    &:before {
        background-image: url(../images/logos/carriers/athene.png);
    }
}

[data-carrier-slug*='delaware-life'] {
    &:before {
        background-image: url(../images/logos/carriers/delaware-life.png);
    }
}

[data-carrier-slug='fidelity-and-guaranty'] {
    &:before {
        background-image: url(../images/logos/carriers/f-and-g.png);
    }
}

[data-carrier-slug*='global-atlantic'] {
    &:before {
        background-image: url(../images/logos/carriers/global-atlantic.png);
    }
}

[data-carrier-slug*='massmutual-ascend'] {
    &:before {
        background-image: url(../images/logos/carriers/massmutual-ascend.png);
    }
}

[data-carrier-slug*='midland-national'] {
    &:before {
        background-image: url(../images/logos/carriers/midland-national.png);
    }
}

[data-carrier-slug*='north-american'] {
    &:before {
        background-image: url(../images/logos/carriers/north-american.png);
    }
}

[data-carrier-slug*='protective'] {
    &:before {
        background-image: url(../images/logos/carriers/protective.png);
    }
}

[data-carrier-slug*='reliance-standard'] {
    &:before {
        background-image: url(../images/logos/carriers/reliance-standard.png);
    }
}

[data-carrier-slug*='securian'] {
    &:before {
        background-image: url(../images/logos/carriers/securian.png);
    }
}

[data-carrier-slug='the-standard'] {
    &:before {
        background-image: url(../images/logos/carriers/the-standard.png);
    }
}
