.alert {
  &__two-up {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 -0.5rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;

    &-item {
      width: 50%;
      margin: 1rem 0.5rem 0 0.5rem;

      h5 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0 0 0.5rem 0;
        padding: 0;

        i {
          padding-right: 0.25rem;
          position: relative;
          top: 1px;
        }
      }
    }
  }

  &__error-debug-toggler {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: $brand-quinary;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    i {
      margin-right: 0.25rem;
      font-weight: 100;
      font-size: 1.5rem;
      line-height: 1.5rem;
      position: relative;
      top: 3px;
    }
  }

  &__error-debug-toggle {
    &:checked + .alert__error-details {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      height: auto;
    }
  }
}