.form {
    &__row {
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        padding-bottom: 1.5rem;

        @media screen and (max-width: $breakpoint-xl) {
            flex-wrap: wrap;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &.form__row--wrapped {
            flex-wrap: wrap;
        }
    }

    &__column {
        display:        flex;
        flex-direction: column;
        width:          100%;
        padding-right:  1rem;
        margin-bottom: 0.5rem;

        &.form__column--half {
            margin: 0 0.375rem 0.5rem 0.375rem;
            width:         calc(50% - 0.375rem);

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &.form__column--full,
        &.form__column--large {
            width: 100% !important;
        }

        &.form__column--large {
            & > label {
                font-size:           1.25rem;
                line-height:         1.25rem;
                text-align:          center;
                border-bottom-width: 2px;
            }
        }

        &.form__column--checkbox {
            width:         25%;
            max-width:     25%;
            padding-right: 1rem;

            &:last-child {
                padding-right: 1rem;
            }

            input[type='checkbox'] {
                display: none;

                &:checked {
                    + label {
                        &:before {
                            border-color:     $color-money;
                            background-color: $color-grey-light;
                        }

                        &:after {
                            visibility: visible;
                            opacity:    1;
                        }
                    }
                }
            }

            label {
                padding: 1rem 1rem 0.75rem 2.75rem;
                cursor:  pointer;
                border:  1px $color-grey-mid solid;

                &:before,
                &:after {
                    position:        absolute;
                    top:             0.5rem;
                    left:            0.5rem;
                    display:         flex;
                    align-items:     center;
                    justify-content: center;
                    width:           1.5rem;
                    height:          1.5rem;
                    content:         '';
                }

                &:before {
                    border:           1px $color-grey-mid solid;
                    background-color: $color-grey-bright;
                }

                &:after {
                    font-family: 'Font Awesome 6 Pro', sans-serif;
                    font-size:   1.25rem;
                    font-weight: bold;
                    line-height: 1.25rem;
                    visibility:  hidden;
                    content:     '\f00c';
                    transition:  opacity 0.25s cubic-bezier(.19, 1, .22, 1), visibility 0.25s cubic-bezier(.19, 1, .22, 1);
                    opacity:     0;
                    color:       $color-money;
                }
            }
        }

        & > label {
            font-size:      1.125rem;
            font-weight:    bold;
            line-height:    1.125rem;
            position:       relative;
            margin:         0 0 0.375rem 0;
            letter-spacing: -1px;
            border-bottom:  1px #000 solid;

            .badge {
                font-size:               0.75rem;
                font-weight:             normal;
                line-height:             0.75rem;
                position:                absolute;
                top:                     -3px;
                right:                   0;
                padding:                 0.25rem 0.5rem 0.25rem 0.5rem;
                letter-spacing:          normal;
                color:                   #fff;
                border-top-left-radius:  4px;
                border-top-right-radius: 4px;
                background-color:        $brand-secondary;
            }
        }

        input[type='text'],
        input[type='email'],
        input[type='password'],
        input[type='number'],
        input[type='date'],
        input.money,
        select,
        textarea {
            font-family:      'Calibre', sans-serif;
            font-size:        1.125rem;
            font-weight:      normal;
            line-height:      1.125rem;
            padding:          0.75rem 1rem 0.625rem 1rem;
            text-align:       left;
            color:            #000;
            border:           1px $color-grey-light solid;
            border-radius:    4px;
            background-color: $brand-quinary;

            &:focus {
                color:            #000;
                background-color: #fff;
            }
        }

        input.money {
            font-size:    1.5rem;
            font-weight:  bold;
            line-height:  1.5rem;
            padding:      0.75rem 1rem 0.5rem 1rem;
            color:        $color-money;
            border-color: $color-money;
        }

        input[type='number'] {
            max-width: 80px;
        }

        .multiselect {
            .multiselect-wrapper {
                .multiselect-tags-search {
                    margin:  0;
                    padding: 0;
                    border:  none;
                }

                .multiselect-tags {
                    padding-top:    0.25rem;
                    padding-right:  1rem;
                    padding-bottom: 0.25rem;
                }

                .multiselect-tag {
                    font-size:        0.9375rem;
                    font-weight:      400;
                    line-height:      1.25rem;
                    padding:          0.5rem 0 0.25rem 0.5rem;
                    white-space:      normal;
                    background-color: $brand-secondary;
                }
            }

            .multiselect-option {
                font-size:    0.875rem;
                line-height:  1.25rem;
                position:     relative;
                padding-left: 2.25rem;
                border-top:   1px $color-grey-mid solid;

                &.is-selected {
                    color:            inherit;
                    background-color: inherit;

                    &:after {
                        opacity: 1;
                    }
                }

                &:before,
                &:after {
                    position:       absolute;
                    top:            0.5rem;
                    left:           0.5rem;
                    width:          1rem;
                    height:         1rem;
                    margin-top:     -1px;
                    content:        '';
                    pointer-events: none;
                }

                &:before {
                    border:           1px $color-grey-mid solid;
                    background-color: $color-grey-bright;
                }

                &:after {
                    font-family:     'Font Awesome 6 Pro', sans-serif;
                    font-size:       0.75rem;
                    font-weight:     bold;
                    line-height:     1.125rem;
                    top:             0.5rem;
                    display:         flex;
                    justify-content: center;
                    content:         '\f00c';
                    text-indent:     1px;
                    opacity:         0;
                    color:           $color-money;
                }
            }
        }
    }

    & > fieldset {
        margin:        0 0 1rem 0;
        padding:       0 1rem 1rem 1rem;
        border:        none;
        border-bottom: 1px $color-grey-light solid;

        & > legend {
            font-size:      1.5rem;
            font-weight:    bold;
            line-height:    1.5rem;
            position:       relative;
            display:        block;
            width:          100%;
            margin:         0 -1rem 1.125rem -1rem;
            padding:        0 1rem;
            letter-spacing: -1px;
            color:          $brand-tertiary;
            border-bottom:  1px $brand-tertiary solid;

            i {
                display: none;
            }
        }

        p {
            font-size:        1.125rem;
            line-height:      1.5rem;
            position:         relative;
            padding:          1rem 1rem 1rem 4rem;
            background-color: $brand-quinary;

            &:before {
                font-family: 'Font Awesome 6 Pro', sans-serif;
                font-size:   2.25rem;
                font-weight: bold;
                line-height: 2.25rem;
                position:    absolute;
                left:        1rem;
                content:     '\f30f';
                color:       $brand-tertiary;
            }
        }

        fieldset {
            position: relative;
            border:   1px $color-grey-light solid;

            legend {
                font-size:        1.25rem;
                font-weight:      bold;
                line-height:      1.25rem;
                margin:           0 0 0 -0.5rem;
                padding:          0 0.5rem;
                letter-spacing:   -1px;
                background-color: #fff;

                .form__action--inline {
                    font-size:        1rem;
                    line-height:      1rem;
                    position:         absolute;
                    top:              1px;
                    right:            0.5rem;
                    display:          inline-block;
                    padding:          0.375rem 0.5rem 0.125rem 0.5rem;
                    cursor:           pointer;
                    transform:        translateY(-100%);
                    color:            $brand-tertiary;
                    background-color: #fff;

                    &:hover {
                        color:            #fff;
                        background-color: $brand-tertiary;
                    }
                }
            }
        }
    }

    &__buttons {
        display:        flex;
        flex-direction: row;
        flex-wrap:      nowrap;

        &-column {
            height: 36px;

            &:first-child {
                label {
                    border-top-left-radius:    4px;
                    border-bottom-left-radius: 4px;
                }
            }

            &:last-child {
                label {
                    border-top-right-radius:    4px;
                    border-bottom-right-radius: 4px;
                }
            }

            input[type='radio'],
            input[type='checkbox'] {
                display: none;

                &:checked {
                    & + label {
                        color:            #fff;
                        background-color: $brand-tertiary;
                    }
                }
            }

            label {
                font-weight:      bold;
                display:          flex;
                flex-direction:   column;
                flex-wrap:        wrap;
                justify-content:  center;
                height:           100%;
                padding:          0.5rem 1rem 0.375rem 1rem;
                cursor:           pointer;
                text-align:       left;
                border:           1px $color-grey-light solid;
                background-color: #fff;

                small {
                    font-size:   0.8175rem;
                    font-weight: normal;
                    display:     block;
                    padding:     0.25rem 0 0 0;
                    opacity:     0.75;
                }
            }
        }
    }

    &__action {
        font-family:      'Calibre', sans-serif;
        font-size:        1.125rem;
        font-weight:      700;
        line-height:      1.125rem;
        display:          flex;
        align-items:      center;
        justify-content:  center;
        width:            100%;
        min-width:        200px;
        height:           auto;
        margin:           0;
        padding:          1rem 1rem 0.75rem 1rem;
        cursor:           pointer;
        letter-spacing:   -1px;
        color:            #fff;
        border:           2px $brand-secondary solid;
        background-color: $brand-secondary;

        &:hover,
        &:focus,
        &:active {
            color:            $brand-secondary;
            background-color: #fff;
        }
    }
}

/*
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'],
select,
textarea {
    padding: 0.5rem 0.75rem 0.25rem 0.75rem;
    border: 1px $color-grey-light solid;
    border-radius: 4px;
    font-size: 1.25rem;
    font-family: 'Calibre', sans-serif;
    line-height: 1.25rem;
    font-weight: bold;
}

&__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.75rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    & > .form__column {
        & > label {
            display: block;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: -0.5px;
            color: $brand-tertiary;
        }
    }
}

&__column {
    min-width: 50%;
}

fieldset {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px $color-grey-light solid;

    legend {
        color: $brand-tertiary;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
        letter-spacing: -1px;
        margin: 0 -1rem 0.5rem -1rem;
        padding: 0 1rem;
        border-bottom: 1px $brand-tertiary solid;
        display: block;
        width: 100%;
        position: relative;

        i {
            display: none;
        }
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}
*/