.alpha {
    &__content {
        & > header {
            padding: 2rem 2rem 0 2rem;

            h1 {
                color: $brand-primary;
            }
        }

        & > section {
            padding: 0 2rem 0 2rem;
        }
    }
}