$brand-primary: #01A7C2;
$brand-secondary: #152935;
$brand-tertiary: #B8336A;
$brand-quaternary: #F4562A;
$brand-quinary: #E8E5DA;

$color-grey-bright: #E8E5DA;
$color-grey-light: #c9c9c9;
$color-grey-mid: #aaa;
$color-money: #238c00;

$color-blue-light: $brand-primary;
$color-blue-dark: $brand-secondary;
$color-maroon: $brand-tertiary;
$color-orange: $brand-quaternary;
$color-taupe: $brand-quinary;