.income-solver {
    &__fetch {
        &-button {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 0.75rem 0 0 0;

        .results {
            width: 100%;
            max-width: 100%;

            &__inner {
                width: 100%;
            }
        }
    }

    &__results {
        width: calc(80% - 2rem);
        max-width: calc(80% - 2rem);
        min-width: calc(80% - 2rem);
        padding: 0 0 0 2rem;

        &-controls {
            background-color: $brand-primary;
            color: #fff;
            margin: 0 0 1rem 0;
            padding: 1rem;
            border-radius: 6px;

            label[for="deferral"] {
                display: block;
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: -1px;
            }

            input[type="range"] {
                width: 100%;
                height: 34px;
                -webkit-appearance: none;
                margin: 10px 0;
            }

            /* TODO: Refactor into SCSS */
            input[type="range"] {
                height: 46px;
                -webkit-appearance: none;
                margin: 10px 0;
                width: 100%;
                background-color: transparent;
            }
            input[type="range"]:focus {
                outline: none;
            }
            input[type="range"]::-webkit-slider-runnable-track {
                width: 100%;
                height: 10px;
                cursor: pointer;
                animate: 0.2s;
                box-shadow: 0 0 0 #000000;
                background: $brand-secondary;
                border-radius: 0;
                border: 0 solid $brand-secondary;
            }
            input[type="range"]::-webkit-slider-thumb {
                box-shadow: 0 0 0 $brand-primary;
                border: 4px solid $brand-quinary;
                height: 36px;
                width: 36px;
                border-radius: 50px;
                background: $brand-primary;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -15px;
            }
            input[type="range"]:focus::-webkit-slider-runnable-track {
                background: $brand-secondary;
            }
            input[type="range"]::-moz-range-track {
                width: 100%;
                height: 10px;
                cursor: pointer;
                animate: 0.2s;
                box-shadow: 0 0 0 #000000;
                background: $brand-secondary;
                border-radius: 0;
                border: 0 solid $brand-secondary;
            }
            input[type="range"]::-moz-range-thumb {
                box-shadow: 0 0 0 $brand-primary;
                border: 4px solid $brand-quinary;
                height: 36px;
                width: 36px;
                border-radius: 50px;
                background: $brand-primary;
                cursor: pointer;
            }
            input[type="range"]::-ms-track {
                width: 100%;
                height: 10px;
                cursor: pointer;
                animate: 0.2s;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }
            input[type="range"]::-ms-fill-lower {
                background: #017B8F;
                border: 0 solid $brand-secondary;
                border-radius: 0;
                box-shadow: 0 0 0 #000000;
            }
            input[type="range"]::-ms-fill-upper {
                background: $brand-secondary;
                border: 0 solid $brand-secondary;
                border-radius: 0;
                box-shadow: 0 0 0 #000000;
            }
            input[type="range"]::-ms-thumb {
                margin-top: 1px;
                box-shadow: 0 0 0 $brand-primary;
                border: 4px solid $brand-quinary;
                height: 36px;
                width: 36px;
                border-radius: 50px;
                background: $brand-primary;
                cursor: pointer;
            }
            input[type="range"]:focus::-ms-fill-lower {
                background: $brand-secondary;
            }
            input[type="range"]:focus::-ms-fill-upper {
                background: $brand-secondary;
            }

        }
    }

    &__parameters {
        width: 20%;
        min-width: 20%;
        max-width: 20%;
        margin: 0;
        position: relative;
        padding: 1rem 0;
        border-radius: 6px;
        background-color: #fff;
    }
}