.income-solver {
    &__fetch {
        &-button {
            display: none;
        }
    }

    &__content {
        display:        flex;
        flex-direction: row;
        flex-wrap:      nowrap;
        width:          100%;
        padding:        0.75rem 0 0 0;

        .results {
            width:     100%;
            max-width: 100%;

            &__inner {
                width: 100%;
            }
        }
    }

    &__results {
        width:   100%;
        padding: 0 0 0 2rem;

        &-controls {
            margin:           0 0 1rem 0;
            padding:          1rem;
            color:            #fff;
            border-radius:    6px;
            background-color: $brand-primary;

            label[for='deferral'] {
                font-size:      2rem;
                line-height:    2rem;
                display:        block;
                letter-spacing: -1px;
            }

            input[type='range'] {
                width:              100%;
                height:             34px;
                margin:             10px 0;
                -webkit-appearance: none;
            }

            /* TODO: Refactor into SCSS */
            input[type='range'] {
                width:              100%;
                height:             46px;
                margin:             10px 0;
                background-color:   transparent;
                -webkit-appearance: none;
            }

            input[type='range']:focus {
                outline: none;
            }

            input[type='range']::-webkit-slider-runnable-track {
                width:         100%;
                height:        10px;
                cursor:        pointer;
                border:        0 solid $brand-secondary;
                border-radius: 0;
                background:    $brand-secondary;
                box-shadow:    0 0 0 #000000;
                animate:       0.2s;
            }

            input[type='range']::-webkit-slider-thumb {
                width:              36px;
                height:             36px;
                margin-top:         -15px;
                cursor:             pointer;
                border:             4px solid $brand-quinary;
                border-radius:      50px;
                background:         $brand-primary;
                box-shadow:         0 0 0 $brand-primary;
                -webkit-appearance: none;
            }

            input[type='range']:focus::-webkit-slider-runnable-track {
                background: $brand-secondary;
            }

            input[type='range']::-moz-range-track {
                width:         100%;
                height:        10px;
                cursor:        pointer;
                border:        0 solid $brand-secondary;
                border-radius: 0;
                background:    $brand-secondary;
                box-shadow:    0 0 0 #000000;
                animate:       0.2s;
            }

            input[type='range']::-moz-range-thumb {
                width:         36px;
                height:        36px;
                cursor:        pointer;
                border:        4px solid $brand-quinary;
                border-radius: 50px;
                background:    $brand-primary;
                box-shadow:    0 0 0 $brand-primary;
            }

            input[type='range']::-ms-track {
                width:        100%;
                height:       10px;
                cursor:       pointer;
                color:        transparent;
                border-color: transparent;
                background:   transparent;
                animate:      0.2s;
            }

            input[type='range']::-ms-fill-lower {
                border:        0 solid $brand-secondary;
                border-radius: 0;
                background:    #017B8F;
                box-shadow:    0 0 0 #000000;
            }

            input[type='range']::-ms-fill-upper {
                border:        0 solid $brand-secondary;
                border-radius: 0;
                background:    $brand-secondary;
                box-shadow:    0 0 0 #000000;
            }

            input[type='range']::-ms-thumb {
                width:         36px;
                height:        36px;
                margin-top:    1px;
                cursor:        pointer;
                border:        4px solid $brand-quinary;
                border-radius: 50px;
                background:    $brand-primary;
                box-shadow:    0 0 0 $brand-primary;
            }

            input[type='range']:focus::-ms-fill-lower {
                background: $brand-secondary;
            }

            input[type='range']:focus::-ms-fill-upper {
                background: $brand-secondary;
            }

        }
    }

    &__parameters {
        position:         relative;
        width:            25%;
        min-width:        350px;
        max-width:        25%;
        margin:           0;
        padding:          1rem 0;
        border-radius:    6px;
        background-color: #fff;

        & > fieldset {
            fieldset {
                .form__row {
                    .form__column {
                        width:         calc(50% - 1.5rem);
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .client__content {
                fieldset {
                    .form__row {
                        .form__column {
                            width: calc(50% - 1.5rem);

                            &:nth-child(2) {
                                width:         50%;
                                padding-right: 0;

                                input {
                                    width: 100% !important;
                                }
                            }

                            &:last-child {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}