$brand-primary: #034787;
$brand-secondary: #01203C;
$brand-tertiary: #c20e00;
$brand-quaternary: #FEA82F;
$brand-quinary: #e3e3e3;

$color-grey-bright: $brand-quinary;
$color-grey-light: #c9c9c9;
$color-grey-mid: #aaa;
$color-grey-faded: #999;
$color-grey-faded-darker: #777;
$color-money: #60992D;
$color-danger: $brand-quaternary;

$color-blue-light: $brand-primary;
$color-blue-dark: $brand-secondary;
$color-red: $brand-tertiary;
$color-orange: $brand-quaternary;
$color-taupe: $brand-quinary;